## 安装
- ubuntu-16.04

```
$sudo apt-get install mysql-server
$sudo apt-get install mysql-client
$sudo apt-get install libmysqlclient-dev
```

### 验证

```
$mysqladmin --version
```

### 登录
```
$mysql -u [用户] -p
```

# 数据库基础知识
## 数据库定义
SQL(Structured Query Language)是一种在关系数据库用于规划和管理数据或进行流处理的语言.

>SQL不区分大小写

对结构数据尤其高效,它引入了两个概念
- 用单条命令访问多个记录
- 访问一个记录无需索引

SQL定义了多种操作数据库的能力:
- DDL: Data Definition Language
 - 允许用户自定义数据, 如创建,删除,修改表的结构
- DML: Data Manipulation Language
 - 允许用户添加,删除,更新数据,  应用程序对数据库的操作
- DQL: Data Query Language 
 - 允许用户查询数据
- DCL: Data control Language
 - 用来控制访问数据的权限


## 关系数据库
关系数据库指用关系模型来组织数据的数据库, 相当于是若干个存储数据的二维表,
### 优点
- 好理解 
- 好用
- 好维护

### 不足
- 基于硬盘I/O无法高并发读写
- 难以横向扩展性, 升级与扩展时需停机维护,数据迁移
- 大数据下读写效率低

## 二维表
### 行
表的每一行为一个记录, 一个逻辑意义上的数据. 对应一个数据及其多重属性.
### 列
表的每一列为一个字段, 即记录的属性.每一行记录拥有多个字段.

在字段处定义了数据类型, 每一列的数据类型为同一种,常见的类型有:
- 整型
- 浮点型
- 字符串
- 日期
- 是否允许为NULL
 - NULL表示字段数据不存在。一个整型字段如果为NULL不表示它的值为0，同样的，一个字符串型字段为NULL也不表示它的值为空串''
 - 通常，字段应该避免允许为NULL。不允许为NULL可以简化查询条件，加快查询速度，也利于应用程序读取数据后无需判断是否为NULL。
 
关系主要通过主键和外键来维护
## 主键
任意两条记录不能完全相同, 会出现两条记录拥有多个相同字段的情况,这时可以通过主键来区分.

主键用来定位记录, 可以区分任意两条记录, 所以当记录入表后, 切忌修改主键.

主键最好是完全业务无关的字段, 通常用id来表示, 常见的id有:
- 自增整型索引
- 全局唯一GUID类型


## 外键
一个表的外键是另一个表的主键, 可重复,可为空值, 用来建立表之间的联系, 一个表可以有多个外键

外键并不是通过列名实现的, 而是通过定义外键约束:
```
ALTER TABLE students
ADD CONSTRAINT fk_class_id    #外键约束可以任意
FOREIGH KEY (class_id)
REFERENCES class (id);
```
由于外键约束会降低数据库的性能，大部分互联网应用程序为了追求速度，并不设置外键约束，而是仅靠应用程序自身来保证逻辑的正确性。这种情况下，class_id仅仅是一个普通的列，只是起到了外键的作用而已。

删除外键
```
ALTER TABLE students
DROP FOREIGN KEY fk_class_id
```

### 多对多
当两个表互相都需要引用对方的主键作为外键,
通过两个一对多实现, 通过一个中间表进行关联

# MySQL数据库管理系统
## 查看MySQL服务器状态
```
$ps -ef | grep mysqld
```


## 重启mysql服务器
```
$service mysql restart
```

## 停止mysql服务器
```
$service mysql stop
```

## 数据库
### 创建数据库
```
CREATE DATABASE database_name;
```

- 命令行操作

```
$mysqladmin -u root -p create database_name
```
### 删除数据库
```
drop database database_name;
```

- 命令行操作

```
$mysqladmin -u root -p drop database_name
```

### 选择数据库
```
use database_name;
```

## 数据表
### 创建数据表
```
CREATE TABLE table_name (column_name column_type);

CREATE TABLE IF NOT EXISTS `runoob_tbl`(
   `runoob_id` INT UNSIGNED AUTO_INCREMENT,
   `runoob_title` VARCHAR(100) NOT NULL,
   `runoob_author` VARCHAR(40) NOT NULL,
   `submission_date` DATE,
   PRIMARY KEY ( `runoob_id` )
)ENGINE=InnoDB DEFAULT CHARSET=utf8;
```

```
CREATE TABLE runoob_tbl2(
runoob_id INT NOT NULL AUTO_INCREMENT,
runoob_title VARCHAR(100) NOT NULL,
runoob_author VARCHAR(40) NOT NULL,
submission_date DATE,
PRIMARY KEY ( runoob_id )
)ENGINE=InnoDB DEFAULT CHARSET=utf8;
```
### 插入数据
```
INSERT INTO table_name ( field1, field2,...fieldN )
                       VALUES
                       ( value1, value2,...valueN );




INSERT INTO runoob_tbl 
(runoob_title, runoob_author, submission_date)
VALUES
("learn mysql", "runoob", NOW());

INSERT INTO runoob_tbl 
(runoob_title, runoob_author, submission_date)
VALUES
("learn python", "runoob", NOW());
```

### 读取数据
```
SELECT * FROM table_name;


SELECT column_name,column_name
FROM table_name
[WHERE Clause]
[LIMIT N][ OFFSET M]
```

### 删除数据表
```
DROP TABLE table_name;
```

## [视图](https://www.cnblogs.com/chenpi/p/5133648.html)
视图是一条SELECT语句执行后返回的结果集, 是一张虚拟表,使用视图和使用表完全一样.
>特点

- 优化查询操作，增强可读性；

- 可以把权限限定到行列级别；


### 创建表
> 课程表

```
DROP TABLE IF EXISTS `course`;
CREATE TABLE `course` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `description` varchar(500) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;


INSERT INTO `course` VALUES ('1', 'JAVA', 'JAVA课程');
INSERT INTO `course` VALUES ('2', 'C++', 'C++课程');
INSERT INTO `course` VALUES ('3', 'C语言', 'C语言课程');
```

> 用户表

```
DROP TABLE IF EXISTS `user`;
CREATE TABLE `user` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `account` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `others` varchar(200) DEFAULT NULL,
  `others2` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;


INSERT INTO `user` VALUES ('1', 'user1', '小陈', '美国', '1', '1');
INSERT INTO `user` VALUES ('2', 'user2', '小张', '日本', '2', '2');
INSERT INTO `user` VALUES ('3', 'user3', '小王', '中国', '3', '3');
```

>用户课程表

```
DROP TABLE IF EXISTS `user_course`;
CREATE TABLE `user_course` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `userid` bigint(20) NOT NULL,
  `courseid` bigint(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;


INSERT INTO `user_course` VALUES ('1', '1', '2');
INSERT INTO `user_course` VALUES ('2', '1', '3');
INSERT INTO `user_course` VALUES ('3', '2', '1');
INSERT INTO `user_course` VALUES ('4', '2', '2');
INSERT INTO `user_course` VALUES ('5', '2', '3');
INSERT INTO `user_course` VALUES ('6', '3', '2');
```
> 当我们想要查询小张上的所有课程相关信息的时候，需要这样写一条长长的SQL语句，如下：

```
SELECT
    `uc`.`id` AS `id`,
    `u`.`name` AS `username`,
    `c`.`name` AS `coursename`
FROM
    `user` `u`
LEFT JOIN `user_course` `uc` ON ((`u`.`id` = `uc`.`userid`))
LEFT JOIN `course` `c` ON ((`uc`.`courseid` = `c`.`id`))
WHERE
    u.`name` = '小张';
```


### 创建视图
```
DROP VIEW
IF EXISTS `view_user_course`;

CREATE ALGORITHM = UNDEFINED 
DEFINER = `root`@`localhost` 
SQL SECURITY DEFINER 
VIEW `view_user_course` AS (
    SELECT
        `uc`.`id` AS `id`,
        `u`.`name` AS `username`,
        `c`.`name` AS `coursename`
    FROM
        (
            (
                `user` `u`
                LEFT JOIN `user_course` `uc` ON ((`u`.`id` = `uc`.`userid`))
            )
            LEFT JOIN `course` `c` ON ((`uc`.`courseid` = `c`.`id`))
        )
); 
```

> 创建好视图后

```
SELECT
    vuc.username,
    vuc.coursename
FROM
    view_user_course vuc
WHERE
     vuc.username = '小张';
```

### 在视图上增删修改数据操作

>视图与表是一对一关系情况：如果没有其它约束（如视图中没有的字段，在基本表中是必填字段情况），是可以进行增删改数据操作

```
DROP VIEW
IF EXISTS `view_user_keyinfo`;

CREATE ALGORITHM = UNDEFINED DEFINER = `root`@`localhost` SQL SECURITY DEFINER VIEW `view_user_keyinfo` AS SELECT
    `u`.`id` AS `id`,
    `u`.`account` AS `account`,
    `u`.`name` AS `username`
FROM
    `user` `u`;
```
>user表中的其它字段要允许为空，否则操作失败

```
INSERT INTO view_user_keyinfo (account, username)
VALUES
    ('test1', 'test1');
```    

```
DELETE
FROM
    view_user_keyinfo
WHERE
    username = 'test1';
```

```
UPDATE view_user_keyinfo
SET username = 'updateuser'
WHERE
    id = 1;
```

>视图与表是一对多关系情况：如果只修改一张表的数据，且没有其它约束（如视图中没有的字段，在基本表中是必填字段情况），是可以进行改数据操作，如以下语句，操作成功；

```
update view_user_course set coursename='JAVA' where id=1;

```

## [存储过程](https://www.cnblogs.com/mark-chan/p/5384139.html)
SQL语句需要先编译然后执行，存储过程（Stored Procedure）是一组为了完成特定功能的SQL语句集，经编译后存储在数据库中待用户调用.

>优点

- 增强SQL语言的功能和灵活性：存储过程可以用控制语句编写，有很强的灵活性，可以完成复杂的判断和较复杂的运算。
- 标准组件式编程：存储过程被创建后，可以在程序中被多次调用，不必重新编写, 而且可以随时对存储过程进行修改
- 执行快：如果某一操作包含大量的Transaction-SQL代码或分别被多次执行，那么存储过程要比批处理的执行速度快很多。因为存储过程是预编译的。在首次运行一个存储过程时查询，优化器对其进行分析优化，并且给出最终被存储在系统表中的执行计划。而批处理的Transaction-SQL语句在每次运行时都要进行编译和优化，速度相对要慢一些。
- 减少网络流量：针对同一个数据库对象的操作（如查询、修改），如果这一操作所涉及的Transaction-SQL语句被组织进存储过程，那么当在客户计算机上调用该存储过程时，网络中传送的只是该调用语句，从而大大减少网络流量并降低了网络负载。
- 作为一种安全机制来充分利用：通过对执行某一存储过程的权限进行限制，能够实现对相应的数据的访问权限的限制，避免了非授权用户对数据的访问，保证了数据的安全。



### 注释
- 单行注释, --
- 多行注释与C相同

### 用户变量
用户变量一般以@开头
```
SELECT 'Hello World' into @x;
SELECT @x;
SET @y='Goodbye Cruel World';
SELECT @y;
SET @z=1+2+3;
SELECT @z;
```
>在存储过程中使用用户变量

```
CREATE PROCEDURE GreetWorld() SELECT CONCAT(@greeting,' World');
SET @greeting='Hello';
CALL GreetWorld();
```

>在存储过程间传递全局范围的用户变量
```
CREATE PROCEDURE p1() SET @last_proc='p1';
CREATE PROCEDURE p2() SELECT CONCAT('Last procedure was ',@last_proc);
CALL p1();
CALL p2();
```
#### 分隔符

MySQL默认以";"为分隔符，如果没有声明分割符，则编译器会把存储过程当成SQL语句进行处理，因此编译过程会报错，所以要事先用“DELIMITER //”声明当前段分隔符，让编译器把两个"//"之间的内容当做存储过程的代码，不会执行这些代码；“DELIMITER ;”的意为把分隔符还原。

### 存储过程的创建
```
CREATE PROCEDURE  过程名([[IN|OUT|INOUT] 参数名 数据类型[,[IN|OUT|INOUT] 参数名 数据类型…]]) [特性 ...] 过程体

DELIMITER //
  CREATE PROCEDURE myproc(OUT s int)
    BEGIN
      SELECT COUNT(*) INTO s FROM students;
    END
    //
DELIMITER ;
```

#### 参数
存储过程根据需要可能会有输入、输出、输入输出参数，如果有多个参数用","分割开。MySQL存储过程的参数用在存储过程的定义，共有三种参数类型,IN,OUT,INOUT:

- IN参数的值必须在调用存储过程时指定，在存储过程中修改该参数的值不能被返回，为默认值
```
DELIMITER //
  CREATE PROCEDURE in_param(IN p_in int)
    BEGIN
    SELECT p_in;
    SET p_in=2;
    SELECT p_in;
    END;
    //
DELIMITER ;
#调用
SET @p_in=1;
CALL in_param(@p_in);
SELECT @p_in;
```
- OUT:该值可在存储过程内部被改变，并可返回
```
#存储过程OUT参数
DELIMITER //
  CREATE PROCEDURE out_param(OUT p_out int)
    BEGIN
      SELECT p_out;
      SET p_out=2;
      SELECT p_out;
    END;
    //
DELIMITER ;
#调用
SET @p_out=1;
CALL out_param(@p_out);
SELECT @p_out;
```
- INOUT:调用时指定，并且可被改变和返回
```
#存储过程INOUT参数
DELIMITER //
  CREATE PROCEDURE inout_param(INOUT p_inout int)
    BEGIN
      SELECT p_inout;
      SET p_inout=2;
      SELECT p_inout;
    END;
    //
DELIMITER ;
#调用
SET @p_inout=1;
CALL inout_param(@p_inout) ;
SELECT @p_inout;
```

### 存储过程的查询
```
#查询存储过程
SELECT name FROM mysql.proc WHERE db='数据库名';
SELECT routine_name FROM information_schema.routines WHERE routine_schema='数据库名';
SHOW PROCEDURE STATUS WHERE db='数据库名';

#查看存储过程详细信息
SHOW CREATE PROCEDURE 数据库.存储过程名;
```

### 存储过程的修改
```
ALTER  PROCEDURE  num_from_employee
  MODIFIES SQL DATA
  SQL SECURITY INVOKER ;
#将读写权限改为READS SQL DATA，并加上注释信息'FIND NAME'。
ALTER  PROCEDURE  name_from_employee
  READS SQL DATA
  COMMENT 'FIND NAME' ;
```

### 存储过程的删除
```
DROP PROCEDURE [过程1[,过程2…]]
```